@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto+Condensed:wght@700&display=swap');

html {
  background-color: #4D604D;
  overflow-x: hidden;
}

#root {
  background-color: #4D604D;
  height: 100vh;
  width: 100vw;
}

.title {
  font-size: 5em;
  color: #440B7C;
  text-shadow: 1px 1px black;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
}

.form-control.form-control-lg {
  width: 50vw;
}

.form-control.form-control-lg.groceryListItemInput{
  width: 100%;
}

.entryContainer {
  text-align: center;
}

.groceryListTitle {
  text-align: center;
  font-size: 48px;
}

.groceryListItemInput {
  /* Your existing styles here */
  background-color: yellow;
}

.groceryListItemInput.checked {
  text-decoration: line-through;
  background-color: green !important;
}

.smartListCategory {
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 54vw;
  text-align: left;
  border-radius: 10px 10px 0 0;
  font-size: 44px;
  color: white;
  border: 2px black solid;
  padding-left: 0.3em;
}

.smartListItem {
  background-color: #ebe7dd;
  margin-left: auto;
  margin-right: auto;
  max-width: 54vw;
  text-align: left;
  font-size: 24px;
  padding-left: 0.3em;
  border-bottom: 2px black solid;
  border-left: 2px black solid;
  border-right: 2px black solid;
}